:root {
  background-color: var(--lightest-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--dark-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* my color scheme */
  --light-beige: #F6F1DE;
  --lightest-color:  #EEEEEE;
  --light-color:  #E3E5DA;
  --accent-red: #c1121f;
  --accent-blue: #407BBF;
  --accent-green: #6EB938;
  --dark-green: #00897D;
  --dark-brown: #6D5C26;
  --dark-red: #780000;
  --dark-blue: #003049;
  --shadow-color: #646cffaa;
  --block-color: #E8473F;
  --yellow-light: #f7e282;
  --yellow-darker: #F7B400;
--logo-light: #F9C875;
  --logo-pink: #FF8D7D;
  /* my color scheme */
}
html,
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightest-color);
  cursor: url('public/cursor.png'), pointer;
}


.elem__shadow_border {
  box-shadow: var(--shadow-color) 0 1px 4px 1px;
}

a {
  color: var(--yellow-light);
  text-decoration: none;
}

a:hover{
  color: var(--yellow-light);
  text-decoration: none;
}

body {

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
